* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background: #e9ecef;
  color: #343a40;
}

header {
  background: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffc107;
}

section {
  padding: 20px;
  margin: 20px 0;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project {
  margin-bottom: 20px;
}

h2 {
  color: #007bff;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #343a40;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input, textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #0056b3;
}
.profile-pic {
  width: 150px;  /* Adjust as needed */
  height: auto;  /* Maintains aspect ratio */
  border-radius: 50%;  /* Makes it circular */
  display: block;
  margin: 0 auto;  /* Centers the image */
}
